.contactContainer {
  background-color: black;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contactTittle {
  background-color: black;
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: orange;
}

.contactContent {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}

.contactLeft {
  margin-left: 100px;
}

.contactForm {
  width: 540px;
  border-radius: 0;
}

.inputFocus {
  margin-bottom: 20px;
  border: 0 solid orange;
}

.inputFocus::placeholder {
  font-weight: bold;
}

.contactButton {
  display: flex;
  justify-content: center;
}

.contactRight {
  margin-left: 50px;
  margin-right: 100px;
}

.contactDescription {
  font-size: 20px;
  text-align: justify;
}

.contactIcons {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.iconWrap {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

.iconWrap svg {
  font-size: 50px;
}

.iconSocialMedia {
  cursor: pointer;
}

.iconSocialMedia:hover {
  color: orange;
}

@media screen and (max-width: 360px) {
  .contactContent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 75px;
  }

  .contactRight {
    margin-left: 15px;
    margin-right: 15px;
  }

  .iconWrap {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    margin-left: 0px;
  }

  .contactLeft {
    margin-top: 50px;
    margin-left: 10px;
  }

  .contactForm {
    width: 330px;
    border-radius: 0;
  }
}
