/* HeaderLanding.module.css */
.wrapHeader {
  margin: auto;
}

.navBar {
  background-color: black;
  color: white;

  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 120px;
  padding-right: 100px;
}

.navLink {
  color: white;
  font-size: 25px;
  margin-left: 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.3s ease-in-out;
}

.navLink:hover::after {
  width: 100%;
}

.wrapSection {
  background-color: black;
  padding-left: 100px;
}

.welcomeName {
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.wrapIcon {
  padding-top: 100px;
  padding-bottom: 50px;

  background-color: black;
  color: white;
  font-size: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.iconDecoration {
  cursor: pointer;
}

.iconDecoration:hover {
  color: orange;
}

@media screen and (max-width: 360px) {
  .wrapSection {
    background-color: black;
    padding-left: 10px;
  }

  .welcomeName {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .wrapIcon {
    padding-top: 200px;
    padding-bottom: 50px;

    background-color: black;
    color: white;
    font-size: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
