.footerContainer {
  background-color: black;
  color: white;
  padding-top: 100px;
  padding-bottom: 20px;
}

.footerWrap {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
}

@media screen and (max-width: 360px) {
  .footerContainer {
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 20px;
  }
  
  .footerWrap {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-weight: bold;
  }


}