* {
  background: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

body {
  font-size: 32px;
  font-family: "Sen", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 1.5px;
}
